In [1]:
import pandas as pd # ibrary untuk baca data

data_survei = pd.read_csv('data_survei_pasar.csv') # pembacaan data
data_survei # menampilkan data

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [2]:
data_survei.isnull().sum() # memeriksa jumlah data kosong

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [3]:
from sklearn.feature_selection import SelectKBest, chi2 # library dari sklearn untuk fefature selection dan chi2

atribut_input = data_survei.iloc[:,:20] # yang menjadi atribut input adalah atribut indeks 0-20
atribut_output = data_survei.iloc[:,-1] # yang menjadi atribut output adalah indeks terakhir (-1)

best_features = SelectKBest(score_func=chi2,k=10) # memuat objek feature selector, K itu degree of freedom
fit_results = best_features.fit(atribut_input,atribut_output) # melakukan proses feature selection

data_scores = pd.DataFrame(fit_results.scores_) # membuat datafram yang berisi nilai relevansi atribut
data_columns = pd.DataFrame(atribut_input.columns) # nama kolom atribut input

featureScores = pd.concat([data_columns,data_scores],axis=1) # melakukan concat antara atribut dan scorenya dengan format kolom
featureScores.columns = ['Specs','Score'] # memberi nama kolom tabel hasil concat

featureScores.nlargest(4,'Score') # Menampilkan 4 atribut dengan nilai relevansi yang tinggi

            Specs          Score
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750