In [1]:
import pandas as pd # ibrary untuk baca data
from sklearn.linear_model import LinearRegression # library dari sklearn untuk linear reggresion
from sklearn.model_selection import train_test_split # library dari sklearn untuk melatih model data

In [2]:
df = pd.read_csv('data_survei_pasar.csv', usecols=['ram', 'px_height', 'battery_power', 'px_width', 'price_range']) # pembacaan data dengan kolom tertentu

In [3]:
df.isnull().sum() # memeriksa jumlah data kosong

battery_power    0
px_height        0
px_width         0
ram              0
price_range      0
dtype: int64

In [4]:
df.describe() # melihat statistical description dari data mulai dari mean, kuartil, standard deviation dll

       battery_power    px_height     px_width          ram  price_range
count    2000.000000  2000.000000  2000.000000  2000.000000  2000.000000
mean     1238.518500   645.108000  1251.515500  2124.213000     1.500000
std       439.418206   443.780811   432.199447  1084.732044     1.118314
min       501.000000     0.000000   500.000000   256.000000     0.000000
25%       851.750000   282.750000   874.750000  1207.500000     0.750000
50%      1226.000000   564.000000  1247.000000  2146.500000     1.500000
75%      1615.250000   947.250000  1633.000000  3064.500000     2.250000
max      1998.000000  1960.000000  1998.000000  3998.000000     3.000000

In [5]:
df.corr().style.background_gradient().set_precision(2) #Mengetahui nilai korelasi dari independent variable dan dependent variable

In [6]:
# buat variabel x dan y.
x = df.drop(columns='price_range')
y = df['price_range']

# split data menjadi training and testing dengan porsi 80:20
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=4)

# buat object linear regresi
lin_reg = LinearRegression()

# melatih model menggunakan training data yang sudah displit
lin_reg.fit(x_train, y_train)

# cari tau nilai slope/koefisien (m) dan intercept (b)
print("Koefisien (m)\t: " + str(lin_reg.coef_))
print("Intercept (b)\t: " + str(lin_reg.intercept_))

Koefisien (m)	: [0.00050662 0.00026979 0.00027996 0.00094159]
Intercept (b)	: -1.6487050667746015

In [7]:
print("Score Model/Accuracy Score\t: " + str(lin_reg.score(x_test, y_test))) # cari tahu accuracy score dari model menggunakan testing data yang sudah displit

Score Model/Accuracy Score	: 0.9254828721150172

In [8]:
print("Price range\t: " + str(lin_reg.predict([[1500,1366,720,2048]]))) # contoh prediksi harga ponsel dengan battery_power=1500, px_height=1366, px_width=720, ram=2048

Price range	: [1.60969971]